/*-----------------FONTS-----------------*/
@font-face {
    font-family: 'ModernHBold';
    src: url('../fonts/modernh-bold-webfont.eot');
    src: url('../fonts/modernh-bold-webfont.eot@') format('embedded-opentype'),
         url('../fonts/modernh-bold-webfont.woff2.html') format('woff2'),
         url('../fonts/modernh-bold-webfont.woff') format('woff'),
         url('../fonts/modernh-bold-webfont.ttf') format('truetype'),
         url('../fonts/modernh-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ModernHMedium';
    src: url('../fonts/modernh-medium-webfont.eot');
    src: url('../fonts/modernh-medium-webfont.eot@') format('embedded-opentype'),
         url('../fonts/modernh-medium-webfont.woff2.html') format('woff2'),
         url('../fonts/modernh-medium-webfont.woff') format('woff'),
         url('../fonts/modernh-medium-webfont.ttf') format('truetype'),
         url('../fonts/modernh-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'ALSRubl-Verdana';
  src: url('../fonts/alsrubl-verdana-regular.eot');
  src: url('../fonts/alsrubl-verdana-regular.eot@') format('embedded-opentype'),url('../fonts/alsrubl-verdana-regular.woff') format('woff'), url('../fonts/alsrubl-verdana-regular.ttf') format('truetype'), url('../fonts/alsrubl-verdana-regular.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

.rub {
  font-family: 'ALSRubl-Verdana', Arial, sans-serif;
  line-height: normal;
  font-weight: 100;
  font-style: normal;
}

/*-----------------/FONTS-----------------*/

/*-----------------GENERAL-----------------*/

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: 'ModernHMedium';
}

img {
  pointer-events: none;
}

.bold {
  font-family: 'ModernHBold';
}

.border {
  border: #ccc solid 1px;
}

.wrapper {
  width: 100%;
}

.bright {
  color: #2E3639;
}

.line-through {
  text-decoration: line-through;
}

.no-margin {
  margin: 0 -15px;
}

.margin-right-30 {
  margin-right: 3rem;
}

/* text-based popup styling */
.modal-popup {
  position: relative;
  background: #f5f5f5;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 4px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.showModal {
  pointer-events: all;
  cursor: pointer;
}

.btn-general {
  /*color: #fff;
  background-color: #2E3639;
  border-color: #111;*/
	background: rgba(0, 0, 0, 0);
	color: #1d88cd;
	border-color: #1d88cd;
	text-decoration: none;
  font-size: 1.6rem;
  outline: none;
}

.btn-general:hover {
	color: #1d88cd;

	/*color: #fff;
	 *background-color: #384145;
	  border-color: #111;
	  transition: all .20s ease-out;
	  outline: none;*/
}

.btn-general:focus,
.btn-general:active {
  /*color: #fff;
  background-color: #424d52;
  border-color: #111;*/
	background: rgba(0, 0, 0, 0);
	color: #1d88cd;
	border-color: #1d88cd;
	text-decoration: none;
  transition: all .20s ease-out;
  outline: none;
}

.btn-bright {
  color: #fff;
 /* background-color: #db1a21;
  border-color: #cc181e;*/
	/*border: 2px solid #1d88cd;*/
	background: #1d88cd;
  font-size: 1.6rem;
  outline: none;
}

.btn-bright:hover {
  color: #fff;
  /*background-color: #ed1c23;
  border-color: #cc181e;
  transition: all .20s ease-out;
  outline: none;*/
}

.btn-bright:focus,
.btn-bright:active {
  color: #fff;
  /*background-color: #ff1f26;
  border-color: #cc181e;*/
	/*border: 2px solid #1d88cd;*/
	background: #1d88cd;
  transition: all .20s ease-out;
  outline: none;
}

.nowrap {
  white-space: nowrap;
}

.line-through {
  text-decoration: line-through;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.panel {
  border-radius: 4px;
  border: 1px solid #ccc;
}

.panel-heading {
  border: none;
  border-radius: 4px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.__phonelink__ {
  color: #888;
}

@media (max-width: 767px) {
  .btn {
    font-size: 1.45rem;
    width: 100%;
  }

  .no-margin {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn {
    font-size: 1.5rem;
  }

  .no-margin {
    margin: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .btn {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
}


/*-----------------/GENERAL-----------------*/

/*-----------------SECTION HEADER-----------------*/

.section-header {
  padding: .5rem 0 0 0;
  background-color: rgba(255,255,255,.9);
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-transition: padding .5s;
  -moz-transition: padding .5s;
  transition: padding .5s;
}

.section-header__row-center {
  text-align:center;
}

.section-header__dealer-logo {
  margin: 1.6rem -1.5rem 0 -1.5rem;
}

.section-header__shrink .section-header__dealer-logo {
  margin-top: .5rem;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.section-header__dealer-logo-img {
  display: inline-block;
  float: left;
  width: 90%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.section-header__shrink .section-header__dealer-logo-img {
  width: 70%;
}

.section-header__brand-logo {
  margin: 0 -1.5rem;
}

.section-header__brand-logo-img {
  display: inline-block;
  float: right;
  width: 100%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.section-header__shrink .section-header__brand-logo-img {
  width: 65%;
}

.section-header__info {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
  margin-top: 1rem;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.section-header__shrink .section-header__info {
  margin-top: .3rem;
}

.section-header__info-phone {
  display: inline-block;
  color: #ed1c24;
  float: left;
  clear: both;
}

.section-header__info-phone-icon {
  font-size: 2rem;
  margin-right: .3rem;
}

.section-header__info-phone-num {
  font-size: 2.8rem;
  line-height: 2rem;
  color: #ed1c24;
  text-decoration: none;
}

.section-header__info-phone-num:hover {
  text-decoration: none;
  color: #d41920;
}

.section-header__info-phone-num:active,
.section-header__info-phone-num:focus {
  text-decoration: none;
  color: #d41920;
}

.section-header__info-address {
  display: inline-block;
  font-size: 1.37rem;
  line-height: 1.3rem;
  border-bottom: 1px solid transparent;
  float: left;
  clear: both;
  cursor: pointer;
}

.section-header__info-address:hover {
  border-bottom: 1px solid;
}

.section-header__info-mode {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.6rem;
  float: left;
  clear: both;
  width: auto;
  height: auto;
  opacity: 100%;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.section-header__shrink .section-header__info-mode {
  height: 0;
  opacity: 0;
}

@media (max-width: 767px) {

  .section-header {
    position: static;
    padding-bottom: .5rem
  }

  .section-header__dealer-logo-img {
    margin-top: 0;
  }

  .section-header__info {
    float: left;
    padding-top: .5rem;
  }

  .section-header__info-phone {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  .section-header__dealer-logo {
    margin: 0;
  }

  .section-header__brand-logo {
    margin: 0;
  }

  .section-header__brand-logo-img {
    width: 100%;
    margin-bottom: -3rem;
  }

  .section-header__info {
    margin-top: .3rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .section-header__shrink .section-header__dealer-logo {
    margin-top: .2rem;
  }

  .section-header__info {
    margin-top: 0rem;
  }

  .section-header__shrink  .section-header__info {
    margin-top: .2rem;
  }

  .section-header__brand-logo-img {
    width: 65%;
  }

  .section-header__shrink .section-header__brand-logo-img {
    width: 45%;
  }

  .section-header__info-phone {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  .section-header__info-phone-icon {
    font-size: 1.6rem;
    margin-right: .3rem;
  }

  .section-header__info-address {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .section-header__info-mode {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .section-header {
    padding-top: .5rem;
  }

  .section-header__dealer-logo {
    margin-top: .1rem;
  }

  .section-header__shrink .section-header__dealer-logo {
    margin-top: .5rem;
  }

  .section-header__shrink  .section-header__info {
    margin-top: .6rem;
  }

  .section-header__brand-logo-img {
    width: 100%;
  }

  .section-header__shrink .section-header__brand-logo-img {
    width: 80%;
  }

  .section-header__info-phone {
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: #ed1c24;
  }

  .section-header__info-phone-icon {
    font-size: 1.6rem;
    margin-right: .3rem;
  }

  .section-header__info-address {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .section-header__info-mode {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

}

@media (min-width: 1200px) {
}

/*-----------------/SECTION HEADER-----------------*/

/*-----------------SECTION BANNER-----------------*/

.section-banner1 {
  margin-top: 9rem;
  position: relative;
}

.section-banner1__img {
    max-width: 1800px;
    width: 100%;
}

.section-banner1__heading {
  /*background-color: #2E3639;*/
  display: block;
	background-color: #636669;
  padding: 2rem 1.5rem;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #fff;
}

.section-banner1__heading-phone {
  color: #fff;
}

.section-banner1__form {
  width: 310px;
  height: 355px;
  background-color: rgba(17,17,17,.5);
  border: 1px solid rgba(17,17,17,.75);
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  color: #fff;
}

.section-banner1__form-heading {
  display: inline-block;
  font-size: 2rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .8rem;
}

.section-banner1__form-clock-heading {
  display: inline-block;
  font-size: 1.45rem;
  text-transform: uppercase;
}

.section-banner1__form-btn {
  width: 100%;
  margin-top: .5rem;
}

.section-banner1__input {
  height: 35px;
}

.section-banner1__form-group {
  margin-bottom: 1.5rem;
}

.section-banner1__form-group-last {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {

  .section-banner1 {
    margin-top: 0;
    padding-top: 0;
  }

  .section-banner1__page-heading {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }

  .section-banner1__form {
    display: none;
    width: 100%;
    position: relative;
    top: inherit;
    left: inherit;
    text-align: center;
    border-radius: 0;
  }

  .section-banner1__form-heading {
    font-size: 1.7rem;
    line-height: 2rem;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .section-banner1 {
    padding-top: 0;
    margin-top: 8rem;
  }

  .section-banner1__page-heading {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .section-banner1__form {
    display: none;
    width: 100%;
    height: 100%;
    padding: 2rem 20rem;
    position: relative;
    top: inherit;
    left: inherit;
    text-align: center;
    border-radius: 0;
  }

  .section-banner1__form-heading {
    display: inline-block;
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .8rem;
  }

  .section-banner1__form-clock-heading {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .section-banner1 {
    margin-top: 8rem;
  }

  .section-banner1__form {
    top: 5%;
    right: 15%;
    padding: 1rem;
    height: 305px;
    width: 280px;
    text-align: center;
  }

  .section-banner1__input {
    height: 30px;
  }

  .section-banner1__form-heading {
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin-bottom: .8rem;
  }

  .section-banner1__form-clock-heading {
    display: inline-block;
    font-size: 1.32rem;
    text-transform: uppercase;
  }

}

@media (min-width: 1200px) {
}

/*-----------------/SECTION BANNER-----------------*/

/*-----------------SECTION PROFITS-----------------*/

.section-profits {
  padding-top: 30px;
  padding-bottom: 45px;
  border-bottom: solid 2px #ccc;
}

.section-profits__page-heading {
  font-size: 5rem;
  line-height: 5.5rem;
  text-transform: uppercase;
  /*color: #111;*/
	color: #555;
}

.section-profits__desc-heading-sub {
  font-size: 3rem;
  margin-bottom: 2rem;
  /*color: #333;*/
	color: #888;
}

.section-profits__model {
  border-radius: 1rem;
  border: 1px solid rgba(255,255,255,0);
  padding: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
}

.section-profits__model-active {
   border: 1px solid #777;
}

.section-profits__model:hover {
  border: 1px solid rgba(255,255,255,0);
}

.section-profits__model:hover .section-profits__img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.section-profits__label {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    overflow: hidden;
}

.section-profits__label-img {
    display: block;
    width: 100%;
}

.section-profits__img {
  margin-bottom: 1rem;
  pointer-events: all;
}

.section-profits__block-wrappper {
  margin-top: 0;
}

.section-profits__block-heading {
  font-size: 2.4rem;
  line-height: 2.2rem;
  /*color: #333;*/
	color: #888;

}

.section-profits__block-desc {
  font-size: 2rem;
  /*color: #333;*/
  margin-top: 0;
  margin-bottom: 0.4rem;
	color: #888;

}

.section-profits__block-profit {
  /*padding: .1rem 1rem;*/
	padding: .4rem 1rem;
	width: 100%;
  border-radius: 4px;
  text-align: center;
}

.section-profits__row {
  padding: 1rem .25rem;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #cccccc;
  margin-bottom: 1rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+12,d5d9d8+66,d5d9d8+66,ffffff+100 */
  background: #fff;
  text-align: left;
  -webkit-box-shadow: 2px -2px 5px 0px rgba(85,85,85,0.6);
  -moz-box-shadow: 2px -2px 5px 0px rgba(85,85,85,0.6);
  box-shadow: 2px -2px 5px 0px rgba(85,85,85,0.6);
}

.section-profits__row:hover {
  -webkit-box-shadow: 1px -1px 5px 0px rgba(85,85,85,0.6);
  -moz-box-shadow: 1px -1px 5px 0px rgba(85,85,85,0.6);
  box-shadow: 1px -1px 5px 0px rgba(85,85,85,0.6);
}

.section-profits__row-cell {
  display: inline-block;
  vertical-align: middle;
  float: none;
  text-align: left;
  font-size: 1.6rem;
  line-height: 2rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.section-profits__row-cell-options {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: .3rem;
}

.section-profits__row-cell-label {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: normal;
}

.section-profits__row-cell-label-desc {
  display: inline-block;
  clear: both;
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-right: .2rem;
  /*color: #333;*/
	color: #888;

	text-align: center;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.section-profits__row-cell-label-desc:hover,
.section-profits__row-cell-label-desc:focus,
.section-profits__row-cell-label-desc:active {
  text-decoration: none;
  border-bottom: 1px solid;
}

.section-profits__modification:hover .section-profits__row-cell-label-desc {
  text-decoration: none;
  border-bottom: 1px solid;
}

.section-profits__row-cell-label-card {
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-right: .2rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.section-profits__row-cell-label-card:hover,
.section-profits__row-cell-label-card:focus,
.section-profits__row-cell-label-card:active {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
}

.section-profits__row-cell-price {
  display: inline-block;
  padding: .4rem 1rem;
  width: 100%;
  background-color: #888;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #333;
  cursor: pointer;
}

.section-profits__row-cell-price:hover {
  background-color: #616161;
  transition: all .5s ease-out;
}

.section-profits__row-cell-price:active,
.section-profits__row-cell-price:focus {
  background-color: #6e6e6e;
  transition: all .5s ease-out;
}

.section-profits__row-cell-price:hover .section-profits__row-cell-label-card {
  text-decoration: none;
  border-bottom: 1px solid;
  transition: all .5s ease-out;
}

.section-profits__row-cell-price:focus .section-profits__row-cell-label-card,
.section-profits__row-cell-price:active .section-profits__row-cell-label-card {
  text-decoration: none;
  background-color: #6e6e6e;
  border-bottom: 1px solid;
  color: #fff;
  transition: all .5s ease-out;
}

.section-profits__modification {
  display: block;
  margin-left: -1.5rem;
  color: #fff;
  overflow: hidden;
  padding: .5rem 0 .5rem 0;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #444;
  background-color: #888;
  cursor: pointer;
}

.section-profits__modification:hover {
  background-color: #616161;
  transition: all .20s ease-out;
  outline: none;
}

.section-profits__modification:focus,
.section-profits__modification:active {
  background-color: #757575;
  transition: all .20s ease-out;
  outline: none;
}


.section-profits__modification-car {
/*  display: inline-block;
  float: left;
  width: 52%;*/
  font-size: 1.4rem;
  line-height: 1.6rem;
  white-space: pre-line;
  margin-bottom: 10px;
}
.section-profits__modification-car.no-promo {
  display: inline-block;
  float: left;
  width: 52%;
  font-size: 1.4rem;
  line-height: 1.6rem;
  white-space: pre-line;
  margin-bottom: 0;

}

.section-profits__modification-price {
  display: inline-block;
  /*float: right;*/
  vertical-align: middle;
  width: 48%;
  padding: .7rem 0;
  text-align: center;
  font-size: 1.6rem;
  color: #2E3639;
  border: solid 1px #333;
  background-color: #fff;
  white-space: nowrap;
}

.section-profits__complectation {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.8rem;
  /*color: #333;*/
	color: #888;
	margin-bottom: .5rem;
}

.section-profits__complectation:hover,
.section-profits__complectation:active,
.section-profits__complectation:visited {
  /*color: #333;*/
	color: #888;
}

.section-profits__row-cell-profit {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: .9rem 1rem;
  border: 1px solid #022e61;
  background-color: #023a7a;
  margin: 0 -1.5rem;
  font-size: 1.3rem;
}

.section-profits__row-cell-profit:focus,
.section-profits__row-cell-profit:active {
  color: #fff;
  background-color: #034187;
  border-color: #022e61;
  transition: all .20s ease-out;
  outline: none;
}

.section-profits__row-cell-profit-icon {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-color: #888;
  border: 1px solid #fff;
  margin: 0 auto .5rem; auto;
}

.section-profits__row-cell-profit-icon-img {
  display: block;
  position: absolute;
  margin: 1.5rem;
  height: 6rem;
  width: 6rem;
}

.section-profits__row-cell-profit-desc {
  text-align: left;
  color: #fff;
  font-size: 1.6rem;
}

.section-profits__row-cell-profit-list {
  padding: 0 1rem 0 1.7rem;
  margin-bottom: 0;
}

.section-profits__row-cell-call {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #022e61;
  padding: .5rem 1rem;
  color: #fff;
  background-color: #023a7a;
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: .3rem;
  text-align: center;
}

.section-profits__row-cell-call:hover {
  text-decoration: none;
  background-color: #034187;
  color: #fff;
  transition: all .5s ease-out;
}

.section-profits__row-cell-call:focus,
.section-profits__row-cell-call:active {
  text-decoration: none;
  background-color: #034794;
  color: #fff;
  transition: all .5s ease-out;
}

.section-profits__row-cell-call-phone, .section-profits__row-cell-call-phone .__phonelink__ {
  display: inline-block;
  border-bottom: 1px dashed;
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: #fff !important;
}

.section-profits__row-cell-call-phone:hover,
.section-profits__row-cell-call-phone:focus,
.section-profits__row-cell-call-phone:active {
  border-bottom: 1px solid;
  color: #000;
color: #555;

  transition: all .5s ease-out;
}

.section-profits__row-cell-call:hover .section-profits__row-cell-call-phone {
  border-bottom: 1px solid;
}

.section-profits__row-cell-btn {
  width: 100%;
  white-space: normal;
  margin-bottom: .3rem;
}

.section-profits__block-profit-button {
  width: 100%;
  white-space: normal;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

.section-profits__clock {
 margin: 0 auto;
}

.section-profits__model-desc {
  font-size: 1.6rem;
  display: none;
}

.section-profits__model-desc-panel {
  margin-bottom: 1rem;
}

.section-profits__model-desc-panel-heading {
  background-color: #fff !important;
}

.section-profits__model-desc-list {
  padding-left: 1rem;
  margin-left: 1rem;
  background-color: rgba(255,255,255,.5);
}

.section-profits__close-desc {
  color: #888;
  display: inline-block;
  float: right;
  margin-top: 2px;
  cursor: pointer;
}

.section-profits__model-panel-heading {
  background-color: #fff !important;
}

.section-profits__close-desc:hover {
  /*color: #333;*/
	color: #888;
	-webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.section-profits__close-desc:focus,
.section-profits__close-desc:active {
  /*color: #111;*/
	color: #555;

	-webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.section-profits__avail {
  font-size: 1.6rem;
  display: none;
}

.section-profits__avail-panel {
  margin-bottom: .3rem;
}

.section-profits__avail-row {
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: .3rem;
  font-size: 1.4rem;
}

.section-profits__avail-btn-wrap {
  margin-left: 1.8rem;
  margin-right: -1.8rem;
}

.section-profits__avail-label {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: normal;
}

.section-profits__color-picker {
  display:inline-block;
  height: 2rem;
  border: 1px solid #ccc;
  color: transparent;
  cursor: pointer;
  float: left;
}

.section-profits__color-picker:hover{
  border: 1px solid #3bffff;
}

.section-profits__color-picker-active {
  border: 1px solid #3bffff;
}

.section-profits__model-desc-anchor {
  display: inline-block;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.section-profits__model-avail-anchor {
  display: inline-block;
  padding: 0 1rem;
  margin: .5rem 0;
}

@media (max-width: 767px) {

  .section-profits {
    padding-top: 0px;
  }

  .section-profits__page-heading {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }

  .section-profits__row-cell {
    margin-bottom: .3rem;
  }

  .section-profits__row-cell-price {
    width: 100%;
    padding: .4rem .5rem;
  }

  .section-profits__row-cell-call {
    margin-bottom: .3rem;
    font-size: 1.7rem;
  }

  .section-profits__row-cell-btn {
    font-size: 1.7rem;
  }

  .section-profits__clock{
    display: none;
  }

  .section-profits__desc-heading-sub {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }

  .section-profits__row-cell-options {
    margin-bottom: 0;
  }

  .section-profits__row-cell-profit {
    margin: 0;
  }

  .section-profits__modification {
    margin-left: 0;
    padding-left: .5rem;
  }

  .section-profits__modification-car {
    width: 95%;
    font-size: 1.6rem;
  }

  .section-profits__modification-price {
    width: 45%;
    font-size: 1.6rem;
  }

  .section-profits__color-picker {
    height: 2.5rem;
  }

  .section-profits__avail-btn-wrap {
    margin: 0;
    padding-top: .5rem;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .section-profits__row-cell {
    margin-bottom: .7rem;
  }

  .section-profits__row-cell-call {
    padding: 1.5rem 1rem;
    font-size: 1.8rem;
  }

  .section-profits__clock {
    margin: 3rem 7% 2rem 7.5%;
  }

  .section-profits__row-cell-btn {
    font-size: 1.8rem;
  }

  .section-profits__row-cell-profit {
    margin: 0;
  }

  .section-profits__color-picker {
    height: 2.5rem;
  }


  .section-profits__avail-clearfix {
    display: none;
  }

  .section-profits__avail-btn-wrap {
   text-align: right;
   margin-left: 1.5rem;
   padding-top: .5rem;
  }

  .section-profits__avail-btn {
    display: inline-block;
    width: 100%;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-profits__row-cell-call {
    font-size: 1.25rem;
  }
  .section-profits__row-cell-btn {
    font-size: 1.25rem;
  }

  .section-profits__clock {
    margin: 3rem 17.5% 2rem 17.5%;
  }

  .section-profits__desc-heading-sub {
    font-size: 2.5rem;
  }

  .section-profits__complectation {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .section-profits__block-heading{
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .section-profits__modification-car {
    width: 95%;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .section-profits__modification-car.no-promo {
    width: 54%;
  }
.section-profits__modification-car.no-promo +.section-profits__modification-price {
    width: 45%;
    float: none;
    padding: .5rem 0;
    font-size: 1.5rem;
    margin-top: .8rem;
  }

  .section-profits__row-cell-profit-desc {
    font-size: 1.3rem;
  }

  .section-profits__avail-row {
    display: flex;
    align-items: center;
  }

  .section-profits__avail-clearfix {
    display: none;
  }

  .section-profits__avail-btn-wrap {
   text-align: right;
  }
}

@media (min-width: 1200px) {
  .section-profits__avail-row {
    display: flex;
    align-items: center;
  }

  .section-profits__avail-clearfix {
    display: none;
  }
}

/*-----------------/SECTION PROFITS-----------------*/

/*-----------------SECTION SERVICES-----------------*/

.services__container {
  margin: 60px 70px;
}

.services__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.services__block {
  width: 33.33333333%;
  cursor: pointer;
}

.services__block{
  border-right: 1px solid #ccc;
}

.services__block:last-child {
  border-right: none;
}

.services__block-img {
  width: 35%;
}

.services__heading {
  font-size: 2.4rem;
  color: #888;
}

.services__block:hover .services__heading {
  color: #000;
color: #555;

}


@media (max-width: 767px) {

  .services__container {
    margin: 1rem 1.5rem;
  }

  .services__block {
    width: 100%;
  }

  .services__block {
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .services__block:last-child {
    border-right: none;
    border-bottom: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
/*-----------------/SECTION SERVICES-----------------*/

/*-----------------SECTION ADVANTAGES-----------------*/

.advantages {
  background-color: #2E3639;
  padding: 6rem 0;
  border-bottom: 2px solid #ccc;
}

.advantages__heading {
  display: inline-block;
  text-align: center;
  font-size: 5rem;
  line-height: 5.5rem;
  text-transform: uppercase;
  top: 3rem;
  color: #f7f7f7;
  margin-bottom: 4rem;
}

.advantages__icon {
  width: 10rem;
}

.advantages__icon-heading {
  display: inline-block;
  color: #fff;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 3rem;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 767px) {

  .advantages {
    padding: 2rem 0;
  }

  .advantages__heading {
    margin-bottom: 2rem;
    font-size: 2.8rem;
    line-height: 3.3rem;
  }

  .advantages__icon-heading {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

/*-----------------/SECTION ADVANTAGES-----------------*/

/*-----------------SECTION BIG BUTTON-----------------*/

.section-big-button {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  font-size: 3rem;
}

.section-big-button__button {
  background-color: #ed1c24;
  color: #fff;
  font-size: 3rem;
}

/*-----------------/SECTION BIG BUTTON-----------------*/


/*-----------------SECTION STATIC FORM-----------------*/

.section-static-form {
  border-top: solid 1px #ccc;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: solid 2px #ccc;
}

.section-static-form__page-heading {
  margin-bottom: 30px;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 5.5rem;
  color: #000;
color: #555;

}

@media (max-width: 767px) {

  .section-static-form__page-heading {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

/*-----------------/SECTION STATIC FORM-----------------*/

/*-----------------SECTION DIGITS-----------------*/

.section-digits {
  border-top: solid 1px #ccc;
  border-bottom: solid 2px #ccc;
  padding-top: 30px;
  padding-bottom: 50px;
}

.section-digits__page-heading {
  margin-bottom: 10px;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 5.5rem;
  color: #000;
color: #555;

}

.section-digits__block-wrapper {
  padding-top: 20px;
}

.section-digits__circle-wrapper {
  margin-bottom: 20px;
}

.section-digits__circle {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 2.75rem;
  padding: 6rem 0px;
  line-height: 4rem;
  text-align: center;
  background: #023a7a;
  color: #fff;
  border: 1px solid #022e61;
  -webkit-box-shadow: inset 0px -5px 15px 10px rgba(85,85,85,0.25);
  -moz-box-shadow: inset 0px -5px 15px 10px rgba(85,85,85,0.25);
  box-shadow: inset 0px -5px 15px 10px rgba(85,85,85,0.25);
}

.section-digits__circle-header {
  margin: 0 auto;
  font-size: 3.4rem;
  margin-top: 3px;
  /*color: #333;*/
	color: #888;

}

@media (max-width: 767px) {

.section-digits {
  padding-top: 10px;
  padding-bottom: 30px;
}

.section-digits__page-heading {
  font-size: 2.8rem;
  line-height: 3.3rem;
}

.section-digits__circle-header {
  font-size: 2.5rem;
}

}

@media (min-width: 768px) and (max-width: 991px) {

.section-digits__circle-header {
  font-size: 2.2rem;
}

}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

/*-----------------/SECTION DIGITS-----------------*/


/*-----------------SECTION CALC-----------------*/

.calc {
    border-top: solid 1px #ccc;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: solid 2px #ccc;
}

.calc__page-heading {
    font-size:5rem;
    line-height:5.5rem;
    text-transform:uppercase;
    color:#111;
    margin-bottom:0
}

.calc__page-heading,
.calc__page-heading-sub {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.calc__page-heading-sub {
    font-size:3rem;
    line-height:3.2rem;
    color:#555;
    margin-top:0;
    margin-bottom:2rem
}

.calc__page-heading-img {
    width: 6.3rem;
    position: relative;
    margin-top: -0.7rem;
}

.calc__input {
    height:5rem;
    width:100%
}

.calc__list {
    list-style-type:none;
    font-size:1.6rem;
    line-height:1.6rem;
    padding:1.5rem 0;
    border-bottom:1px solid #ccc
}

.calc__list-icon {
    height:46px;
    width:46px;
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    box-shadow:0 0 1px transparent;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -moz-osx-font-smoothing:grayscale;
    -webkit-transition-duration:.5s;
    transition-duration:.5s;
    -webkit-transition-property:-webkit-transform;
    transition-property:-webkit-transform;
    transition-property:transform;
    transition-property:transform,-webkit-transform
}

.calc__list:active .calc__list-icon,
.calc__list:focus .calc__list-icon,
.calc__list:hover .calc__list-icon {
    -webkit-transform:scale(1.15);
    transform:scale(1.15)
}

.calc__list:last-child {
    border-bottom:none
}

.calc__price-header {
    padding:1rem;
    background-color:#004d8a;
    color:#fff;
    font-size:1.8rem;
    border-radius:4px 4px 0 0
}

.calc__price-container-cost {
    padding-top:1rem!important
}

.calc__price-container-gift {
    display:-ms-flexbox;
    -js-display:-ms-flexbox;
    -js-display:flex;
    display:-webkit-box;
    display:flex;
    -ms-flex-align:center;
    -webkit-box-align:center;
    align-items:center;
    -ms-flex-pack:center;
    -webkit-box-pack:center;
    justify-content:center;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding:1rem 0 2rem
}

.calc__price-container-gift-block {
    width:50%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-bottom:.5rem;
    cursor:pointer
}

.calc__price-container-gift-img {
    max-width:50%
}

.calc__price-container {
    border-radius:0 0 4px 4px;
    border:1px solid #ccc;
    background-color:hsla(0,0%,100%,.5);
    padding:0 1.5rem;
    margin-bottom:1.5rem
}

.calc__price-btn {
    display:inline-block;
    padding:1rem 0;
    margin-top:1rem;
    width:100%
}

.calc__price-label {
    display:block;
    font-size:1.4rem
}

.calc__list-wrap:hover {
    background-color:(51,51,51.3)
}

.calc__price {
    display:inline-block;
    font-size:5rem;
    line-height:5rem;
    color:green;
    margin:1rem 0;
    background-color:#e7e7e7;
    border-radius:12px;
    border:1px solid #ccc;
    padding:1.5rem;
    box-shadow:1px 2px 2px 0 rgba(51,51,51,.5)
}

.calc__price-line {
    border-bottom:1px solid green;
    width:100%
}

.calc__price-sub {
    display:inline-block;
    font-size:3rem;
    line-height:3rem;
    color:green;
    margin:1rem 0
}

@media (max-width:767px){
    .calc__price-container-gift-block:nth-child(2),
    .calc__price-container-gift-block:nth-child(4) {
        border-right:none
    }

    .calc__price-container-gift-block:nth-child(3),
    .calc__price-container-gift-block:nth-child(4) {
        border-bottom:none
    }

    .calc__page-heading {
        font-size:3rem;
        line-height:3.2rem
    }
}

@media (min-width:768px) and (max-width:991px) {
    .calc__price-container-gift-block {
        width:25%;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        border-bottom:none
    }

    .calc__price-container-gift-block:last-child {
        border-right:none
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .calc__price-container-gift-block:nth-child(2),
    .calc__price-container-gift-block:nth-child(4) {
        border-right:none
    }

    .calc__price-container-gift-block:nth-child(3),
    .calc__price-container-gift-block:nth-child(4) {
        border-bottom:none;padding-bottom:none
    }
}

@media (min-width:1200px) {
    .calc__price-container-gift-block:nth-child(2),
    .calc__price-container-gift-block:nth-child(4) {
        border-right:none
    }

    .calc__price-container-gift-block:nth-child(3),
    .calc__price-container-gift-block:nth-child(4) {
        border-bottom:none;padding-bottom:none
    }
}



/*-----------------/SECTION CONTACTS-----------------*/
.section-contacts {
  border-top: solid 1px #ccc;
  padding-top: 30px;
}

.section-contacts__page-heading {
  margin-bottom: 30px;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 5.5rem;
  color: #000;
color: #555;

}

.section-contacts__wrapper {
  padding-bottom: 15px;
}

.section-contacts__map {
  font-size: 0;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  padding-bottom: 100%;
}

.section-contacts__form-heading {
  font-size: 3rem;
  line-height: 3.3rem;
  text-transform: uppercase;
}

.section-contacts__heading-h4{
  font-size: 3rem;
}

.section-contacts_address-select {
  display: inline-block;
  background-color: #fc3;
  border: 1px solid #cca329;
  padding: 1rem 1rem;
  font-size: 2rem;
  line-height: 2rem;
  margin-right: 1rem;
  margin-top: -0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.section-contacts_address-select:hover {
  border-color: #000;
}

.section-contacts__address {
  font-size: 2.3rem;
}

.section-contacts__phone {
  font-size: 2.5rem;
}

.section-contacts__phone-link,
.section-contacts__phone-link:hover,
.section-contacts__phone-link:focus,
.section-contacts__phone-link:active,
.section-contacts__phone-link:visited {
  /*color: #333;*/
	color: #888;
}


.section-contacts__input {
  height: 40px;
}

.section-contacts__textarea {
  height: 150px !important;
}

@media (max-width: 767px) {

.section-contacts {
  padding-top: 10px;
  padding-bottom: 30px;
}

.section-contacts__map {
  padding-bottom: 70%;
}

.section-contacts__page-heading {
  font-size: 2.8rem;
  line-height: 3.3rem;
}

}

@media (min-width: 540px) and (max-width: 767px) {
  .section-contacts__map {
    padding-bottom: 70%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .section-contacts__map {
    padding-bottom: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-contacts__map {
    padding-bottom: 25%;
    background-size: 100% auto;
  }
}

@media (min-width: 1200px) {
  .section-contacts__map {
    padding-bottom: 25%;
    background-size: 100% auto;
  }
}

/*-----------------/SECTION CONTACTS-----------------*/

/*-----------------SECTION FOOTER-----------------*/

.section-footer {
  padding: 2rem 0;
  color: #888;
  background-color: #fff;
}

.section-footer__agree {
  display: inline-block;
  color: #888;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-decoration: none;
  border-bottom: 1px dashed;
  cursor: pointer;
  margin-bottom: .5rem;
}

.section-footer__agree:hover {
  color: #888;
  text-decoration: none;
  border-bottom: 1px solid;
}

.section-footer__copyright {
  font-size: 1.4rem;
}

.section-footer__owner {
 font-size: 1rem;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

/*-----------------/SECTION FOOTER-----------------*/

/*-----------------MODAL WINDOW-----------------*/

.modal {
  text-align: center;
  z-index: 10000 !important;
}

.modal__input {
  height: 4rem;
}

.modal__select {
  height: 4rem;
}

.modal__textarea {
  height: 60px !important;
}

.modal-body {
  padding-bottom: 15px !important;
}

.modal__success {
  text-align: center;
}

.modal__success-icon {
  font-size: 15rem;
}

.modal__success-message {
  display: inline-block;
  margin: 0;
  font-size: 2.5rem;
  width: 100%;
}

.modal__success-submessage {
  font-size: 2rem;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          background: url("../img/patterns/p4.png") repeat;
  background-size: 8px 8px;
}

.modal-header {
  text-transform: uppercase;
}

.modal__img {
  display: inline-block;
}

.modal__img-desc {
  display: inline-block;
  width: 100%;
  font-size: 2.2rem;
  line-height: 2.4rem;
  margin: 1rem 0;
}

.modal__text {
  font-size: 1.6rem;
}

.modal__agree {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-top: 1.2rem;
}

@media (max-width: 767px) {
  .modal-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .modal-img-desc {
    font-size: 1.6rem;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

/*-----------------/MODAL WINDOW-----------------*/

.promo_price {
    display: block;
    margin-bottom: 10px;
}

.old_price {
    display: block;
    margin-bottom: 10px;
}
.section-header__info {
  padding-right: 50px;
  margin-left: 50px;
  border-right: 1px solid #ed1c24;
}
.header_callback_block {
  display: inline-block;
  float: left;
  margin-left: -250px;
  margin-top: 25px;
}
.section-header__shrink .header_callback_block {
  margin-top: 10px;
}
.header_callback {
    display: inline-block;
    color: #ed1c24;
    height: 30px;
    line-height: 30px;
    width: 200px;
    font-size: 20px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header_callback_block {
    margin-left: -170px;
  }
}

@media screen and (max-width: 991px) {
  .section-header__info {
    padding-right: 0;
    border-right: none;
  }
  .header_callback_block {
    display: block;
    width: 150px;
    margin: 0 auto;
    float: none;
  }
}
@media screen and (max-width: 768px) {
  .section-header__info {
    margin-left: 0;
  }
  .header_callback_block {
    display: inline-block;
    float: left
    margin-left: 0;
    margin-top: 20px;
    width: 180px;
  }
}
.section-profits__avail-row{
  transition: all .2s ease-out;
  height: 102px;
  padding: 10px;
  border-width: 1px;
  overflow: hidden;
  opacity: 1;
}
.kpp_hidden, .vol_hidden,
.prc_hidden, .clr_hidden{
  height: 0 !important;
  padding: 0px;
  border: 0px;
  min-height: 0 !important;
  opacity: 0;
}
.filter_line{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #fff !important;
  margin-bottom: 0.3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.filter_line label{
  margin-left: 15px;
  cursor: pointer;
}
.filter_line > div {
  line-height: 30px;
}
/*
.not_avil_warning{
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 10px 15px;
   background-color: #fff !important;
   margin-bottom: 0.3rem;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}*/
.not_avil_warning {
  color: #ed1c23;
  font-size: 20px;
  margin: 25px 0;
  text-align: center;
  text-transform: uppercase;
  display: none;
}
@media screen and (max-width: 600px){
.section-header__info-phone-num {
	text-decoration: underline;
}
}
@media screen and (max-width: 600px){
.section-banner1__heading-phone {
	text-decoration: underline;
}
}
@media screen and (max-width: 600px){
.section-contacts__phone {
	text-decoration: underline;
}
}


a, a:hover, a:focus, a:visited {
	color: #1d88cd;
}
a, a:hover, a:focus, a:visited {
	color: #1d88cd;
}

#begunok1 {
  display: block;
  position: fixed;
  bottom: 10%;
  left: 0;
  background: url("../img/ui/begunok.png") no-repeat;
  height: 80px;
  width: 80px;
  background-size: cover;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 767px) {

  #begunok1 {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  #begunok1 {
    display: none;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  #begunok1 {
    height: 106px;
    width: 100px;
  }

}

@media (min-width: 1200px) {

  #begunok1 {
    height: 136px;
    width: 128px;
  }

}
